.walletConnected-style{
    position: relative !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.deposit-effect{
    animation: opacity-deposit .5s ease-out;
}

.withdraw-effect{
    animation: opacity-withdraw .5s ease-out;
}

@keyframes opacity-deposit {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-withdraw {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
